version: "3.13.8"


services:
  triton:
    image: nvcr.io/nvidia/tritonserver:25.11-py3
    container_name: triton
    device_requests:
      - driver: nvidia
        count: all
        capabilities: [gpu]
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
    volumes:
      - ./triton_utils/model_repository:/models
    command: >
      tritonserver
      --model-repository=/models
      --strict-model-config=false

  web:
    build: .
    container_name: web
    ports:
      - "8080:8080"
    volumes:
      - ./triton_utils:/app/triton_utils
    working_dir: /app
    depends_on:
      - triton